<?xml version="1.0"?>
<AppSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RecentUsedFile>
    <string>C:\Users\kouya\Desktop\音ゲーシュミレータ\DTXHD\XG\zx3_KAISER PHOENIX\Mas.dtx</string>
    <string>C:\Users\kouya\Desktop\音ゲーシュミレータ\DTXHD\XG\zx8_CALAMITY PHOENIX\Mas.dtx</string>
  </RecentUsedFile>
  <LanesInfo>
    <Lanes>
      <Name>BPM</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>LC</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>HH</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>LP</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>LB</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>SD</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BD</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>HT</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>LT</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>FT</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>CY</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>RD</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>FI</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>MLC</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>MHH</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>MCY</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>MRD</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BGM</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>SE1</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>SE2</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>SE3</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>SE4</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>SE5</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>SE6</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>SE7</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>SE8</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>SE9</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S10</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S11</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S12</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S13</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S14</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S15</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S16</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S17</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S18</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S19</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S20</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S21</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S22</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S23</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S24</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S25</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S26</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S27</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S28</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S29</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S30</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S31</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>S32</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>GtV</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>GtR</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>GtG</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>GtB</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>GtW</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BsV</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BsR</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BsG</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BsB</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BsW</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>AVI</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BG1</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BG2</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BG3</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BG4</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BG5</Name>
      <Checked>true</Checked>
    </Lanes>
    <Lanes>
      <Name>BG6</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>BG7</Name>
      <Checked>false</Checked>
    </Lanes>
    <Lanes>
      <Name>BG8</Name>
      <Checked>false</Checked>
    </Lanes>
  </LanesInfo>
  <AutoFocus>true</AutoFocus>
  <ConfigVersion>105</ConfigVersion>
  <GraphicListColumnWidth>
    <int>34</int>
    <int>127</int>
    <int>28</int>
    <int>120</int>
  </GraphicListColumnWidth>
  <GuideIndex>3</GuideIndex>
  <Height>1066</Height>
  <HViewScaleIndex>1</HViewScaleIndex>
  <LastWorkFolder>C:\Users\kouya\Desktop\音ゲーシュミレータ\DTXHD\XG\zx3_KAISER PHOENIX\</LastWorkFolder>
  <Maximized>true</Maximized>
  <MovieListColumnWidth>
    <int>127</int>
    <int>28</int>
    <int>120</int>
  </MovieListColumnWidth>
  <NoPreviewBGM>true</NoPreviewBGM>
  <PlaySoundOnWAVChipAllocated>true</PlaySoundOnWAVChipAllocated>
  <RecentFilesNum>5</RecentFilesNum>
  <ShowRecentFiles>true</ShowRecentFiles>
  <SoundListColumnWidth>
    <int>80</int>
    <int>28</int>
    <int>80</int>
    <int>40</int>
    <int>60</int>
  </SoundListColumnWidth>
  <SplitterDistance>361</SplitterDistance>
  <ViewerInfo>
    <Path>DTXV.exe</Path>
    <PlayStartFromOption>-N</PlayStartFromOption>
    <PlayStartOption>-N-1</PlayStartOption>
    <PlayStopOption>-S</PlayStopOption>
  </ViewerInfo>
  <Width>1936</Width>
  <X>-8</X>
  <Y>-8</Y>
</AppSetting>